fieldset {
    border: 0;
    color: var(--paragraph-text-color);
    margin: 5px 0px;
}

legend {
  text-decoration: underline;
}

#content-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

#content-text {

}

#disclaimer {
    /* min-width: 200px; */
}

#main-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 5% 10% 5%;
    min-width: 200px;
    gap: 30px;
}

#poster-and-content-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

#poster {
    width: auto;
    max-width: 520px;
    min-width: 200px;
    height: auto;
    overflow: scroll;
    float: left;
    flex: 1;
}

#poster img {
    width: 100%;
    height: auto;
    display: block;
}

#rsvp-form-box {
    border: 5px solid rgb(128, 143, 52);
    padding: 10px;
}

#rsvp-list-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#rsvp-guests-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2%;
}

#rsvp-yes-guests-div p {
    color: rgb(20, 151, 20);
}

#rsvp-no-guests-div p {
    color: rgb(209, 40, 40);
}

#rsvp-maybe-guests-div p {
    color: rgb(243, 150, 21);
}

#rsvp-error p {
    color: red;
}

#rsvp-max-guests-text p {
    color: red;
}

#submit {
    cursor: pointer;
}