.event {
    height: 400px;
    width: auto;
    border-radius: 12px;
    border: 5px dashed var(--faded-orange);
}

.event:hover {
    cursor: pointer;
}

.options-banner {
    align-content: flex-end
}

#tile-display {
    margin: 30px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.poster {
    margin: 30px 80px;
    height: 600px;
    width: auto;
}