.event {
    height: 400px;
    width: auto;
    border-radius: 12px;
    border: 5px dashed var(--faded-orange);
}

.event:hover {
    cursor: pointer;
}

.event-tile {
    height: 400px;
    width: auto;
}

.options-banner {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}

#tile-display {
    margin: 2% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}